@model dynamic;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Carrito de compras";
    IEnumerable<musicfest.Models.Proforma> listProformas = new List<Proforma>();
    listProformas = @Model.proformas;
    Decimal montoTotal = @Model.montoTotal;
}

<h1>@ViewData["Title"]</h1>

<a class="btn btn-dark" asp-controller="Pago" 
        asp-action="Create" asp-route-monto="@montoTotal">Pagar</a><p>Total S/. @montoTotal</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => listProformas.FirstOrDefault().Producto.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => listProformas.FirstOrDefault().Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => listProformas.FirstOrDefault().Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Proforma item in Model.proformas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>